@mixin arrow($size: 6px, $color: #2fc3a7, $border-width: 2px, $rotate: 45deg) {
  width: $size;
  height: $size;
  display:block;
  min-height: 0%;
  margin-top: - $size / 2;
  border-top: solid 2px $color;
  border-right: solid 2px $color;
  // -webkit-transform: rotate($rotate);
  transform: rotate($rotate);
}