.places-review-ranking-place {
  flex: 1;
  width: 110px;
  padding: 0 10px;

  .places-review-ranking-place__image {
    width: 110px;
  }

  .places-review-ranking-place__rank {
    background-color: $navy_3S;
    color: $white;
    font-size: 12px;
    text-align: center;
    padding: 3px 5px;
    margin: 0 auto 3px;
    width: 1em;

    &.-rank-1 {
      background-color: $gold_1S;
    }
    &.-rank-2 {
      background-color: $navy_2S;
    }
    &.-rank-3 {
      background-color: $gold_2S;
    }
  }

  .places-review-ranking-place__name {
    color: $place-name-color;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
  }
}