!!! 5
%html{ lang: 'ja' }
  %head
    %meta{ charset: 'UTF-8' }
    %meta{ name: 'description', content: '実習用のサンプルコードです' }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" }
    = stylesheet_link_tag 'site'
    %title flex サンプル
  %body

    %navi.global-navigation
      .global-navigation__logo
        %a{ href: "#" }
          %img{ src: "./logo.png" }
      .global-navigation__links
        %a.global-navigation__link{ href: "#" } ログイン
        %a.global-navigation__link{ href: "#" } 会員登録
        %a.global-navigation__link{ href: "#" } xxx について

    %hr

    %h2 記事

    .articles
      .article
        .article__body
          「結婚式当日がよくわかる！」とプレ花嫁さんから人気の「結婚式レポ」。オリジナリティあふれる結婚式を、どうやって作ったか詳しくわかるのも、この連載ならでは！今回ご紹介するのは…
        %img.article__image{ src: "./images/article-image.jpg" }

      .article.-margin-bottom-zero
        .article__body
          「結婚式当日がよくわかる！」とプレ花嫁さんから人気の「結婚式レポ」。オリジナリティあふれる結婚式を、どうやって作ったか詳しくわかるのも、この連載ならでは！今回ご紹介するのは…
          「結婚式当日がよくわかる！」とプレ花嫁さんから人気の「結婚式レポ」。オリジナリティあふれる結婚式を、どうやって作ったか詳しくわかるのも、この連載ならでは！今回ご紹介するのは…
        %img.article__image{ src: "./images/article-image.jpg" }

      .article
        .article__body
          「結婚式当日がよくわかる！」とプレ花嫁さんから人気の「結婚式レポ」。オリジナリティあふれる結婚式を、どうやって作ったか詳しくわかるのも、この連載ならでは！今回ご紹介するのは…
        %img.article__image{ src: "./images/article-image.jpg" }


    %h2 記事：２
    .topic-articles
      .topic-article
        %img.topic-article__image{ src: "./images/article-image.jpg" }
        .topic-article__info
          %h2.topic-article__title 司会進行は自分たちで！元ウェディングプランナーが考えた新しい結婚式のカタチ
          .topic-article__body
            「結婚式当日がよくわかる！」とプレ花嫁さんから人気の「結婚式レポ」。オリジナリティあふれる結婚式を、どうやって作ったか詳しくわかるのも、この連載ならでは！今回ご紹介するのは…
          .topic-article-user
            .topic-article-user__thumbnail
              %img.circle{ src: "./images/cat1.jpg" }
            .topic-article-user__profile
              .topic-article-user__nickname ニックネーム さん
              .topic-article-user__postdate 2018年00月00日

      .topic-article
        %img.topic-article__image{ src: "./images/article-image.jpg" }
        .topic-article__info
          %h2.topic-article__title 司会進行は自分たちで！元ウェディングプランナーが考えた新しい結婚式のカタチ
          .topic-article__body
            「結婚式当日がよくわかる！」とプレ花嫁さんから人気の「結婚式レポ」。オリジナリティあふれる結婚式を、どうやって作ったか詳しくわかるのも、この連載ならでは！今回ご紹介するのは…
          .topic-article-user
            .topic-article-user__thumbnail
              %img.circle{ src: "./images/cat1.jpg" }
            .topic-article-user__profile
              .topic-article-user__nickname ニックネーム さん
              .topic-article-user__postdate 2018年00月00日
      .topic-article
        %img.topic-article__image{ src: "./images/article-image.jpg" }
        .topic-article__info
          %h2.topic-article__title 司会進行は自分たちで！元ウェディングプランナーが考えた新しい結婚式のカタチ
          .topic-article__body
            「結婚式当日がよくわかる！」とプレ花嫁さんから人気の「結婚式レポ」。オリジナリティあふれる結婚式を、どうやって作ったか詳しくわかるのも、この連載ならでは！今回ご紹介するのは…
          .topic-article-user
            .topic-article-user__thumbnail
              %img.circle{ src: "./images/cat1.jpg" }
            .topic-article-user__profile
              .topic-article-user__nickname ニックネーム さん
              .topic-article-user__postdate 2018年00月00日

    %h2 記事:特定の要素を下部で高さを合わせる
    .card-articles
      .card-article.card-articles__item
        %img.card-article__image{ src: "./images/article-image.jpg", alt: "" }
        %h2.card-article__title 司会進行は自分たちで！元ウェディングプランナーが考えた新しい結婚式のカタチ
        .card-article__body 「結婚式当日がよくわかる！」とプレ花嫁さんから人気の「結婚式レポ」。「結婚式当日がよくわかる！」とプレ花嫁さんから人気の「結婚式レポ」。「結婚式当日がよくわかる！」とプレ花嫁さんから人気の「結婚式レポ」。「結婚式当日がよくわかる！」とプレ花嫁さんから人気の「結婚式レポ」。
        .card-article__user
          .topic-article-user
            %img.topic-article-user-thumbnail.circle{ src: "./images/cat1.jpg" }
            .topic-article-user-profile
              .topic-article-user-profile__nickname ニックネーム さん
              .topic-article-user-profile__postdate 2018年00月00日
      .card-article.card-articles__item
        %img.card-article__image{ src: "./images/article-image.jpg", alt: "" }
        %h2.card-article__title 司会進行は自分たちで！
        .card-article__body 「結婚式当日がよくわかる！」とプレ花嫁さんから人気の「結婚式レポ」。
        .card-article__user
          .topic-article-user
            %img.topic-article-user-thumbnail.circle{ src: "./images/cat1.jpg" }
            .topic-article-user-profile
              .topic-article-user-profile__nickname ニックネーム さん
              .topic-article-user-profile__postdate 2018年00月00日
      .card-article.card-articles__item
        %img.card-article__image{ src: "./images/article-image.jpg", alt: "" }
        %h2.card-article__title 司会進行は自分たちで！元ウェディングプランナーが考えた新しい結婚式のカタチ
        .card-article__body 「結婚式当日がよくわかる！」とプレ花嫁さんから人気の「結婚式レポ」。
        .card-article__user
          .topic-article-user
            %img.topic-article-user-thumbnail.circle{ src: "./images/cat1.jpg" }
            .topic-article-user-profile
              .topic-article-user-profile__nickname ニックネーム さん
              .topic-article-user-profile__postdate 2018年00月00日

    // .card-article
    //   .card-article__image
    //     %img{ src: "./images/article-image.jpg" }
    //   %h2.card-article__title 司会進行は自分たちで！元ウェディングプランナーが考えた新しい結婚式のカタチ
    //   .card-article__body 「結婚式当日がよくわかる！」とプレ花嫁さんから人気の「結婚式レポ」。
    //   .card-article__user
    //     .topic-article-user
    //       %img.topic-article-user-thumbnail.circle{ src: "./images/cat1.jpg" }
    //       .topic-article-user-profile
    //         .topic-article-user-profile__nickname ニックネーム さん
    //         .topic-article-user-profile__postdate 2018年00月00日

    %h2 記事リスト
    .list-article
      .list-article__item
        .article
          .article__body
            「結婚式当日がよくわかる！」とプレ花嫁さんから人気の「結婚式レポ」。オリジナリティあふれる結婚式を、どうやって作ったか詳しくわかるのも、この連載ならでは！今回ご紹介するのは…
          %img.article__image{ src: "./images/article-image.jpg" }
      %a.list-article__item{ href: "#" }
        .article
          .article__body
            「結婚式当日がよくわかる！」とプレ花嫁さんから人気の「結婚式レポ」。オリジナリティあふれる結婚式を、どうやって作ったか詳しくわかるのも、この連載ならでは！今回ご紹介するのは…
          %img.article__image{ src: "./images/article-image.jpg" }
      .list-article__item
        %div
      .list-article__item
        .topic-article
          %img.topic-article__image{ src: "./images/article-image.jpg" }
          .topic-article__info
            %h2.topic-article__title 司会進行は自分たちで！元ウェディングプランナーが考えた新しい結婚式のカタチ
            .topic-article__body
              「結婚式当日がよくわかる！」とプレ花嫁さんから人気の「結婚式レポ」。オリジナリティあふれる結婚式を、どうやって作ったか詳しくわかるのも、この連載ならでは！今回ご紹介するのは…
            .topic-article-user
              .topic-article-user__thumbnail
                %img.circle{ src: "./images/cat1.jpg" }
              .topic-article-user__profile
                .topic-article-user__nickname ニックネーム さん
                .topic-article-user__postdate 2018年00月00日


