.content {
  width: 980px;
  margin: 0 auto;
  display: flex;

  .content__main {
    box-sizing: border-box;
    width: 660px;
    margin-right: 20px;
  }

  .content__side {
    box-sizing: border-box;
    width: 300px;
  }
}