!!! 5
%html{ lang: 'ja' }
  %head
    %meta{ charset: 'UTF-8' }
    = stylesheet_link_tag 'site2'
    %title grid
  %body

  .grid3

  .grid2
    .grind2__item
    .foo 1
    .bar 2
    .foo 3
    .bar 4
    .foo 5
    .bar 6
    .foo 7
    .bar 8

  .grid