!!! 5
%html{ lang: 'ja' }
  %head
    %meta{ charset: 'UTF-8' }
    = stylesheet_link_tag 'site3'
    %title grid
  %body
    .grid
      .grid__item 1
      .grid__item 2
      .grid__item 3
      .grid__item 4
      .grid__item 5
      .grid__item 6
      .grid__item 7
      .grid__item 8
      .grid__item 9
      .grid__item 10
      .grid__item 11
      .grid__item 12
      .grid__item 13