!!! 5
%html{ lang: 'ja' }
  %head
    %meta{ charset: 'UTF-8' }
    %meta{ name: 'description', content: '' }
    %meta{ name: 'viewport', content: 'width=1024' }
    %link{ href: "https://fonts.googleapis.com/icon?family=Material+Icons", rel: 'stylesheet'}
    = stylesheet_link_tag 'site'
    %title サンプル
  %body

    .card
      .card__thumbnail
        %img{ src: 'https://unsplash.it/200/200', width: 100 }
      .card__body
        .card__title
          【そのウェア、どこのブランド？】UL界隈で人気の北欧ブランド＜フーディニ＞を大解剖！
        .card__text
          2020年00月00日
