.card {
  width: 300px;
  display: flex;
  border: 1px solid #333333;
  border-radius: 8px;
  box-sizing: border-box;

  .card__thumbnail {
    width: 100px;
  }

  .card__body {
    flex: 1;
    padding: 10px;
  }

  .card__title {
    font-weight: bold;
  }

  .card__text {
    font-size: 10px;
    color: #666666;
    text-align: right;
  }
}
