!!! 5
%html{ lang: 'ja' }
  %head
    %meta{ charset: 'UTF-8' }
    %meta{ name: 'description', content: '' }
    %meta{ name: 'viewport', content: 'width=1024' }
    %link{ href: "https://fonts.googleapis.com/icon?family=Material+Icons", rel: 'stylesheet'}
    = stylesheet_link_tag 'site'
    %title サンプル
  %body
    .cards
      .card あいうえおあいうえお
      .card あいうえお
      .card あいうえお
      .card あいうえお
      .card あいうえお
      .card あいうえお