!!! 5
%html{ lang: 'ja' }
  %head
    %meta{ charset: 'UTF-8' }
    %meta{ name: 'description', content: '実習用のサンプルコードです' }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" }
    = stylesheet_link_tag 'site'
    %title flex サンプル
  %body

  .button-a
    あいうえお
    %br
    あいうえお
