!!! 5
%html{ lang: 'ja' }
  %head
    %meta{ charset: 'UTF-8' }
    %meta{ name: 'description', content: '実習用のサンプルコードです' }
    %meta{ name: 'viewport', content: 'width=1024' }
    %link{ href: "https://fonts.googleapis.com/icon?family=Material+Icons", rel: 'stylesheet'}
    = stylesheet_link_tag 'site'
    %title HTML/CSS 研修 2019
  %body
    %h1 HTML/CSS 研修 2019

    %h2 第1章
    %ol
      %li
        %a{href: "answer/01/04/01.html"} 04の解答例
      %li
        %a{href: "answer/01/05/01.html"} 05の解答例

    %h2 第2章
    %ol
      %li
        %a{href: "answer/02/01.html"} 解答例

    %h2 第3章
    %ol
      %li
        %a{href: "answer/03/01/haml_02.html"} 解答例
      %li
        %a{href: "answer/03/01/haml_03.html"} 解答例
      %li
        %a{href: "answer/03/01/haml_04.html"} 解答例
      %li
        %a{href: "answer/03/01/haml_05.html"} 解答例
      %li
        %a{href: "answer/03/01/haml_06.html"} 解答例



    %h2 第6章
    %ol
      %li
        %a{href: "answer/06/index.html"} 解答例

    %h2 第7章
    %ol
      %li
        %a{href: "answer/07/index.html"} 解答例
