!!! 5
%html{ lang: 'ja' }
  %head
    %meta{ charset: 'UTF-8' }
    %meta{ name: 'description', content: '実習用のサンプルコードです' }
    %meta{ name: 'viewport', content: 'width=1024' }
    %link{ href: "https://fonts.googleapis.com/icon?family=Material+Icons", rel: 'stylesheet'}
    = stylesheet_link_tag 'site'
    %title HTML/CSS 研修 2019
  %body
    %h1 HTML/CSS 研修 2019

    %h2 第1章
    %ol
      %li
        %a{href: "answer/01/04/01.html"} HTMLを書く
        %br
        %a{href: "practice/01/04/index.html"} あなたの解答
      %li
        %a{href: "answer/01/05/01.html"} CSS を書く
        %br
        %a{href: "practice/01/05/index.html"} あなたの解答
      %li
        %a{href: "answer/01/06/index.html"} CSS 詳細度
        %br
        %a{href: "practice/01/06/index.html"} あなたの解答

    %h2 第2章：部品を作る
    %ol
      %li
        %a{href: "answer/02/haml_01.html"} 部品を作る
        %br
        %a{href: "practice/02/index.html"} あなたの解答

    %h2 第3章：部品を組み合わせる
    %ol
      %li
        %a{href: "answer/03/01/haml_02.html"} margin と padding
        %br
        %a{href: "practice/03/01/index.html"} あなたの解答
      %li
        %a{href: "answer/03/01/haml_03.html"} float
        %br
        %a{href: "practice/03/03/index.html"} あなたの解答
      %li
        %a{href: "answer/03/01/haml_04.html"} flex
        %br
        %a{href: "practice/03/04/index.html"} あなたの解答
      %li
        %a{href: "answer/03/01/haml_05.html"} table
        %br
        %a{href: "practice/03/05/index.html"} あなたの解答
      %li
        %a{href: "answer/03/01/haml_06.html"} 組み合わせ
        %br
        %a{href: "practice/03/06/index.html"} あなたの解答

    %h2 第4章：部品を組み合わせる２
    %ol
      %li
        %a{href: "answer/04/column/index.html"} よくあるflexレイアウト：1
        %br
        %a{href: "practice/04/column/index.html"} あなたの解答
      %li
        %a{href: "answer/04/layouts/index.html"} よくあるflexレイアウト：2
        %br
        %a{href: "practice/04/layouts/index.html"} あなたの解答

    %h2 第５章：テンプレートを作る
    %ol
      %li
        %a{href: "answer/05/01/index_haml.html"} 解答例
        %br
        %a{href: "practice/05/01/index.html"} あなたの解答
      %li
        %a{href: "answer/05/02/index_haml.html"} 解答例
        %br
        %a{href: "practice/05/02/index.html"} あなたの解答
      // %li
      //   %a{href: "answer/05/03/index_haml.html"} 解答例
      //   %br
      //   %a{href: "practice/05/03/index.html"} あなたの解答

    %h2 第6章：hamlについて
    %ol
      %li
        %a{href: "answer/06/index.html"} 解答例

    %h2 第7章：ページを作る
    %ol
      %li
        %a{href: "answer/07/index.html"} 解答例
        %br
        %a{href: "practice/07/index.html"} あなたの解答
